{% extends 'hospital/drugs_base.html' %}
{% load static %}
{% block content %}
{%include 'hospital/drugs_dashboard_cards.html'%}
<br><br><br><br>
<!-- <div class="container">
  <div class="row">
    <div class="panel panel-primary" style="margin-left:15%;">
      <div class="panel-heading" style="text-align:center;">
        <h6 class="panel-title">Recent Appointments For You</h6>
      </div>
      <table class="table table-hover" id="dev-table">
        <thead>
          <tr>
            <th>Doctor Name</th>
            <th>Patient Name</th>
            <th>Nurse Name</th>
            <th>Patient Picture</th>
            <th>Department</th>
            <th>Mobile</th>
            <th>Appointment Date</th>
          </tr>
        </thead>
        {% for a,p in appointments %}
        <tr>
          <td>{{d.get_name}}</td>
          <td>{{a.patientName}}</td>
          <td>{{n.get_name}}</td>
          <td> <img src="{% static p.profile_pic.url %}" alt="Profile Pic" height="40px" width="40px" /></td>
          <td>{{d.department}}</td>
          <td>{{p.mobile}}</td>
          <td>{{a.appointmentDate}}</td>
        </tr>
        {% endfor %}
      </table>
    </div>
  </div>
</div> -->


{% endblock content %}